.header {
	&__container {
		max-width: 100%;
		min-height: 60px;
		margin-top: 30px;
	}
	&__body {
		display: flex;
		align-items: center;
		margin: 0px 15px;
		// justify-content: center;
	}

	&__logo {
	}

	&__menu {
		display: flex;
	}

	&__button {
		flex: 0 1 auto;
	}
}
.menu {
	flex: 1 1 auto;
	justify-content: center;
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0px 10px;
	}

	&__item {
		// font-family: "Proxima Nova";
		flex: 0 1 auto;
		font-weight: 400;
		font-size: 16px;
		line-height: 135%;
		padding: 7px;
		margin: 3px;
		border: solid 1px transparent;
		@media (max-width: 767.9999px) {
			padding: 4px;
		}
	}
	&__item:not(:last-child) {
		margin-right: 40px;
		@media (max-width: 1023.999px) {
			margin-right: 10px;
		}
		@media (max-width: 767.9999px) {
			margin-right: 0px;
		}
	}
	&__item:hover {
		border-color: #018abe;
		border-radius: 5px;
		// color: #018abe;
		// background-color: rgb(216, 239, 147);
	}
	&__link {
		color: #ffffff;
	}
	// &__link:hover {
	// 	border: solid 1px white;
	// 	border-radius: 5px;
}
.button {
	padding: 9px 15px;
	background-color: #018abe;
	border-radius: 3px;
	font-weight: 600;
	font-size: 13px;
	line-height: 140%;
	font-family: "Proxima Nova";
	// color: ;
	display: inline-block;
}
