$bgc: #162831;
$tc: #ffff;
$cwidht: 1400px;

body {
	// font-family: Rubik;
	font-size: 12px;
	color: $tc;
	background-color: $bgc;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-width: 1vw;
	min-height: 100%;
	overflow: hidden;
}

[class*="__container"] {
	width: $cwidht;
	margin: 0 auto;
	width: 100%;
}
