body {
	// font-family: Rubik;
	font-size: 12px;
	color: black;
	background-color: #e5e5e5;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

[class*="__container"] {
	width: 1087px;
	margin: 0 auto;
	width: 100%;
}
